/* header */

.container {
    min-height: 100%;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    min-height: 50px;
    background: white url("../img/header-colors.png") repeat-x;
    background-size: 350px 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.mainsection {
	margin-top: 69px;
}

.fixed-header {
    content: "";
    display: block;
    clear: both;
    position: fixed;
    z-index: 999;
}

.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 213px;
    min-height: 45px;
    margin-top: 3px;
}

.avatar-image {
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    margin: 4px 0px;
    float: right!important;
    margin-right: 141px;
}

input[type="text"] {
    width: 88%;
    height: 40px;
    margin-top: 5px!important;
    border: 1px solid #d3d3d3;
    padding: 3px 3px 3px 10px !important;
    font-size: 18px;
    margin-right: -5px;
}

input[type="text"]:focus {
	outline: none;
	border: 1px solid purple;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(44, 74, 255, 0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(44, 74, 255, 0.25);
	box-shadow: 0px 0px 5px 0px rgba(44, 74, 255, 0.25);
}

.top-search button {
    background: #eaeaea;
	border-left: 1px solid #d3d3d3;
	border-right: none;
	border-bottom: none;
	border-top: none;
	padding: 10px 25px 9px 25px;
	position: relative;
	left: -66px;
}

.top-search button:hover {
    background: #f0f0f0;
}

.top-search button:before {
    content: "\f002";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.btn-header {
    display: -webkit-box;
    margin-top: 4px;
}

.sign-up {
    padding: 10px;
    border-radius: 2px;
    margin-left: 28px;
    border: 1px solid;
    margin-right: 10px;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.sign-up:hover {
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.sign-up:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.sign-in {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.sign-in:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.sign-in:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-header a {
    text-decoration: none;
}

/* body */

a {
    color: #428bca;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: #428bca;
    text-decoration: none;
}

body {
    background-color: #f1f1f1!important;
    min-height: 100%;
}

.container {
    background-color: white!important;
}

.video-thumbnail {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.right-side a {
    color: #428bca;
    font-size: 16px;
}

.all-videos h2 {
    padding-top: 23%;
}

.video-box {
    padding-bottom: 35px;
}

.mainsection h2 {
    color: #5c5c5c;
    font-size: 22px;
    border-bottom: 2px solid #36007b;
}

.categories li {
    list-style-type: none;
    margin-left: -40px;
    padding: 8px;
    border: 1px solid #eaeaea;
    margin-top: -1px;
}

.categories a li {
    text-decoration: none;
    font-size: 17px;
    color: #5c5c5c;
}

ul.categories a li i {
    margin-right: 12px;
}

ul a {
    text-decoration: none;
}

.categories li:hover {
    background-color: #eee;
}

.right-side.col-sm-9 {
    border-left: 1px solid #eaeaea;
    padding-left: 16px;
}

i.fa.fa-play {
    margin-left: 4px;
}

i.fa.fa-taxi {
    margin-right: 16px;
}

i.fa.fa-university {
    margin-right: 10px;
}

i.fa.fa-desktop {
    margin-right: 11px;
}

.video-thumbnail .timer {
    position: absolute;
    bottom: 58px;
    right: 15px;
    padding: 2px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background: purple;
    color: #f2f3f6;
}

/* login & register */

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.center {
    text-align: center;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 88%;
    height: 40px;
    margin-top: 5px!important;
    border: 1px solid #d3d3d3;
    padding: 3px 3px 3px 10px !important;
    font-size: 18px;
    margin-right: -5px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #450068;
    border: 1px solid #450068!important;
}

.btn-success {
    color: #fff;
    background-color: #660099;
    border: 1px solid #450068!important;
    width: 100%;
}

.btn-success:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(255,255,255,.125);
    box-shadow: inset 0 3px 5px rgba(255,255,255,.125);
}

.btn {
    display: inline-block;
    padding: 9px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 33px;
    margin-left: -52px;
    margin-bottom: 20px;
    width: 92%;
}

.help-block {
    color: #888;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.help-block {
    color: #888;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

fieldset {
    border: 0;
    width: 71%;
    margin: 0 auto;
}

.col-sm-4 label {
    margin-top: 15px;
}

