<form action="{{ path('login_check') }}"  method="POST">
   <label>Username</label>
   <input type="text" name="_username">
   <label>Password</label>
   <input type="password" name="_password">
   <input type="submit" value="Submit">
 </form>
